<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cardsforboardgame">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        >
        <activity android:name=".activities.AllPoolsActivity"
            android:label="@string/Allpools">

        </activity>
        <activity android:name=".activities.PoolViewActivity"
            android:label="@string/pool"/>
        <activity android:name=".activities.CardViewActivity"
            android:label="@string/card"/>
        <activity android:name=".activities.AddNewPool"
            android:label="@string/addnewpool"/>
        <activity android:name=".activities.AllCardsActivity"
            android:label="@string/allcards"/>
        <activity android:name=".activities.AddNewCardActivity"
            android:label="@string/addnewcard"/>
        <activity android:name=".Testt" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>